/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

.book-menu-content nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.menu-badges {
  margin-top: auto;
  padding-top: 1rem;
}

.card-icon {
  margin-right: 0.5rem; 
  color: var(--color-accent-note);
}